<section>
  <h2>kintone info</h2>
  <div class="mb-3">
    <label for="file-kintone" class="form-label">json:</label>
    <input
      id="file-kintone"
      class="form-control"
      type="file"
      accept=".json"
      @change="doChangeFile"
    />
    <p>{{ model.appName }}</p>
  </div>

  <div class="mb-3">
    <details>
      <summary class="form-label">field type:</summary>
      <div class="row">
        <template v-for="(type,idx) in local.fieldTypes" :key="idx">
          <div class="form-check col-auto">
            <input
              class="btn-check"
              type="checkbox"
              :id="'field-type-kintone-'+idx"
              :value="type"
              v-model="model.fieldTypes"
              @change="doChangeFieldTypes"
            />
            <label class="btn" :for="'field-type-kintone-'+idx">
              {{type}}
            </label>
          </div>
        </template>
      </div>
    </details>
  </div>

  <div class="mb-3">
    <label for="app-name-kintone" class="form-label">apps:</label>
    <select
      id="app-name-kintone"
      class="form-select"
      @change="doChangeAppName"
      v-model="model.selectApp"
    >
      <option value="" disabled>---select app---</option>
      <template v-for="(appName,idx) in model.appNames" :key="idx">
        <option :value="idx">{{appName}}</option>
      </template>
    </select>
  </div>

  <div class="mb-3">
    <label for="txa-kintone" class="form-label">fields : </label>
    <button @click="doClickCopy" class="btn btn-success">Copy</button>
    <textarea
      class="form-control"
      id="txa-kintone"
      v-model="model.txaValue"
    ></textarea>
  </div>
</section>
