<section>
  <h2>kintone info</h2>
  <div class="mb-3">
    <label class="form-label">json:</label>
    <input
      class="form-control"
      type="file"
      accept=".json"
      @change="doChangeFile"
    />
    <p>{{ local.appName }}</p>
  </div>

  <button @click="doClickCopy" class="btn btn-success">Copy</button>
  <hr />
  <div class="mb-3">
    <label class="form-label">fields : </label>
    <textarea
      class="form-control"
      id="txa-kintone"
      v-model="model.txaValue"
    ></textarea>
  </div>
</section>
