<section>
  <h2>kintone info</h2>
  <div class="mb-3">
    <label for="file-kintone" class="form-label">json:</label>
    <input
      id="file-kintone"
      class="form-control"
      type="file"
      accept=".json"
      @change="doChangeFile"
    />
    <p>{{ model.appName }}</p>
  </div>

  <div class="mb-3">
    <label for="txa-kintone" class="form-label">fields : </label>
    <button @click="doClickCopy" class="btn btn-success">Copy</button>
    <textarea
      class="form-control"
      id="txa-kintone"
      v-model="model.txaValue"
    ></textarea>
  </div>
</section>
